<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kōasuky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/stylesheet.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <%- include("header"); %>

        <div class="top-wrapper">
            <div class="ranking-item">
                <h1>RANKING</h1>
                <ul class="ranking-list">
                    <% ranks.forEach((rank) => { %>
                        <li>
                            <a href="/content/:<%= rank.id %> "><img src="image/<%= rank.id %>.png" width="200px"></a> 
                            <p><%= rank.name %></p>
                            <p>￥<%= rank.price %></p>
                        </li>
                    <% }); %>
                </ul>
    
            </div>
    
            <div class="main-item">
                <h1>ITEM</h1>
                <ul class="item-list">
                    <% items.forEach((item) => { %>
                        <li class="item1">
                            <a href="/content/:<%= item.id %> "><img src="image/<%= item.id %>.png" width="200px"></a> 
                            <p><%= item.name %></p>
                            <p>￥<%= item.price %></p>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>

        <%- include("footer") %>

    </body>
</html>